<!DOCTYPE html>
<html>
<head>
  <title>Spoonfeed</title>
  <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Hind|Lora|Poiret+One", type='text/css' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navigation' %>
<%= yield %>

</body>
</html>
